# Django
DJANGO_SECRET_KEY=dev_secret_key_123
DJANGO_DEBUG=1

# PostgreSQL
POSTGRES_DB=ecommerce_db
POSTGRES_USER=ecommerce_admin
POSTGRES_PASSWORD=devpassword123
POSTGRES_PORT=5432

# MongoDB
MONGO_USER=admin_mongo
MONGO_PASSWORD=pass_mongo_123
MONGO_DB_NAME=consultoria_nosql
VITE_API_URL=http://localhost:5173

# Frontend
VITE_API_URL=